<div class="sidebar">
  <div class="sidebar-wrapper">
    <div class="logo">
      <a target="_blank" rel="sponsored noopener noreferrer"
        href="https://github.com/nicosimarro/ISINAJ-TECHNOLOGIES.git" class="simple-text logo-mini">
        SC
      </a>
      <a target="_blank" rel="sponsored noopener noreferrer"
        href="https://github.com/nicosimarro/ISINAJ-TECHNOLOGIES.git" class="simple-text logo-normal">
        Codigo fuente
      </a>
    </div>

    <ul class="nav">
      <li class="{% if 'Inicio' in segment %} active {% endif %}">
        <a href="/">
          <i class="tim-icons icon-html5"></i>
          <p>Inicio</p>
        </a>
      </li>
      <li class="{% if 'Estadisticas' in segment %} active {% endif %}">
        <a href="/estadisticas.html">
          <i class="tim-icons icon-chart-pie-36"></i>
          <p>Estadisticas</p>
        </a>
      </li>
      <li class="{% if 'Perfil de Usuario' in segment %} active {% endif %}">
        <a href="/perfilusuario.html">
          <i class="tim-icons icon-single-02"></i>
          <p>Perfil de usuario</p>
        </a>
      </li>
      <li class="{% if 'Spotify' in segment %} active {% endif %}">
        <a href="/ui-spotify.html">
          <i class="fab fa-spotify"></i>
          <p>Spotify</p>
        </a>
      </li>
      <li class="{% if 'Twitter' in segment %} active {% endif %}">
        <a href="/ui-twitter.html">
          <i class="tim-icons icon-puzzle-10"></i>
          <p>Twitter</p>
        </a>
      </li>
      <li class="{% if 'red social' in segment %} active {% endif %}">
        <a href="/ui-redsocial.html">
          <i class="tim-icons icon-app"></i>
          <p>Red Social</p>
        </a>
      </li>
      <li class="{% if 'Subscripcion' in segment %} active {% endif %}">
        <a href="/subscripcion.html">
          <i class="tim-icons icon-credit-card"></i>
          <p>Subscripcion</p>
        </a>
      </li>
      <li class="{% if 'registrar' in segment %} active {% endif %}">
        <a href="/register.html">
          <i class="tim-icons icon-double-right"></i>
          <p>Registrar</p>
        </a>
      </li>
      <li>
        <a href="/login.html">
          <i class="tim-icons icon-button-power"></i>
          <p>Iniciar sesion</p>
        </a>
      </li>
    </ul>

  </div>
</div>