{% extends "layouts/base.html" %}

{% block title %} Subscribete {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="row">
        <div class="col-md-12">
            <div class="card card-profile">
                <div class="card-body">
                    <h6 class="card-category text-gray">Subscribete con PayPal</h6>
                    <h4 class="card-title">
                        <h1><small> Subscribete </small><br /> ¡Gana ventajas increibles!</h1>
                        <p> Con tan solo 5€ al mes podrás acceder a ventajas increibles que un usuario normal no tendrá. Podrás accerder a 
                            los comentarios positivos y negativos en Twitter sobre las canciones más  reproducidas en Spotify y 
                            podrás acceder a las canciones más comentadas y reproducidas de Twitter y Spotify</p>
                        <p> ¡¡No te lo pienses!! </p>
                        <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_xclick-subscriptions&business=8JVPQM8NK5LXJ&lc=ES&item_name=boton%20sub&no_note=1&no_shipping=1&src=1&a3=5%2e00&p3=1&t3=M&currency_code=EUR&bn=PP%2dSubscriptionsBF%3abtn_subscribeCC_LG%2egif%3aNonHosted" class="btn btn-primary btn-round">Subscribete</a>
                    </h4>
                    <p><a href="\" class"btn btn-primary btn-round" > Inicio </a></p>
                   
                </div>
            </div>
        </div>
    </div>
    
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
