{% extends "layouts/base.html" %}

{% block title %} Red social {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <form role="form" method="post" action="/red_social">

        <div class="card-header mb-5">
          <h5 class="card-category">Red social</h5>
          <h3 class="card-title">Buscar los tweets del TOP 3 global en spotify </h3>
        </div>

        <div class="card-footer">
          <button type="submit" name="twitter" class="btn btn-fill btn-primary">Buscar tweets del top 3</button>
          
        </div>
        
        <div class="card-body">
          <div class="typography-line">
            <span>Tweets</span>
            <blockquote>
              <p class="blockquote blockquote-primary">
                
                {% for x in contenido %}
                      Tweet sobre la cancion del artista {{x['artist']}} : <br> {{ x['text'] }} <br><br><br>
                  {% endfor %}
                  <br>
                  <br>
              </p>
            </blockquote>
          </div>


        </div>

        
      </form>


    </div>
  </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}